__pycache__/
.vscode/
*.txt
!requirements.txt
*.c
build/
*.so
*.dll
*.pyd
*.exe
*.pyc
*.log
Config/
*.zip
*.7zip
*.dmg
env/
logs/
*.json
.env
.env.development
.DS_STORE
test.*

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info

docker/
